.sign-in {
  width: 450px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .sign-in-out-icon {
    font-size: 1.1rem;
    display: flex;
    align-self: center;
    margin-right: 5px;
  }
}



