.sign-in {
  width: 380px;
  display: flex;
  flex-direction: column;

  .title {
    margin: 10px 0;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
  }

  .sign-in-out-icon {
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 5px;;
  }
}



