.sign-up {
  display: flex;
  flex-direction: column;
  width: 450px;

  .title {
    margin: 10px 0;
  }
}

  .sign-in-out-icon {
    font-size: 1.1rem;
    display: flex;
    align-self: center;
    margin-right: 5px;
  }
